/* Custom font*/
@font-face {
    font-family: oldSchoolFont;
    src: url(assets/orange_kid.otf);
}

html {
    height: 100%;
}

body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*main UI*/
.mainUI {
    display: flex;
    margin-top: 2em;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/*header section*/
h1#title {
    font-family: oldSchoolFont;
    font-size: 6.5rem;
    letter-spacing: 0.2rem;
    color: #111;
    text-shadow: 0.2rem 0.2rem #888;
    margin: 0;
    padding: 0 1.5em;
}

/*HP Bars section*/


progress {
    text-align: center;
    padding: 0.6em;
    box-shadow: 0 0.2rem 0.5rem rgb(255, 255, 255) inset;
    width: 80%;
}

progress::before {
    font-family: oldSchoolFont;
    content: attr(value)'/'attr(max);
    position: relative;
    bottom: 0.5rem;
}

.hpBarContainerP p, .hpBarContainerC p {
    display: inline-block;
    font-family: oldSchoolFont;
    position: relative;
    margin: 0;
    bottom: 0.5rem;
}

.hpBarContainerP, .hpBarContainerC {
    padding: 0.5em 0 0.2em 0.2em;
    margin-bottom: 1em;
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225);
    width: 80%;
}

.hpBarContainerP {
    justify-self: start;
    align-self: start;
}

.hpBarContainerC {
    justify-self: end;
    align-self: start;
}

/* middle result screen section*/
.mainScreen {
    display: grid;
    grid-template-columns: 20em 20em;
    grid-template-rows: 1fr auto;
    margin-bottom: 9em;
}

.resultScreen {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: oldSchoolFont;
    height: 13em;
    width: 100%;
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225);
    vertical-align: middle;
    grid-column-start: span 2;

}

.result h1 {
    font-family: oldSchoolFont;
    font-size: 2rem;
    margin: 0;
}

.result h2 {
    margin: 0.5em 0;
}

div.playerChoice, div.computerChoice {
    align-self: center;
}

.resultScreen .playerChoice button, .resultScreen .computerChoice button {
    box-shadow: 0px 0px 5px 3px rgb(160, 93, 48, 0.5);
}

.mainScreen .result {
    font-family: oldSchoolFont;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    position: relative;
    height: 100;
    width: 50%;
}

div.result h3 {
    position: absolute;
    margin: 0.5em;
    left: 0;
    right: 0;
}

/* player/computer choice selection + buttons section*/
div.lhs p, div.rhs p {
    font-family: oldSchoolFont;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

div button.fas, button {
    margin: 0.4em 0.4em;
    border: 1px solid transparent;
    font-size: 3rem;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    background-color: #e7e7e7;
    box-shadow: 0px 0px 5px 3px rgb(160, 93, 48, 0.5);
}

button:focus {
    outline: 0;
}

.lhs, .rhs {
    display: flex;
    flex-direction: column;
    position: relative;
}

.lhs {
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225);
}

.rhs {
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225)    
}

.lhs button.playerF, .rhs button.computerF {
    background-image: radial-gradient(orange, rgb(255, 68, 68), rgb(255, 0, 0));
}
    
.lhs button.playerF:hover {
    background-image: radial-gradient(rgb(255, 197, 88), rgb(255, 110, 110));
    box-shadow: 0px 0px 10px 10px rgb(255, 122, 61);
}

.lhs button.playerF:active {
    background-image: radial-gradient(rgb(255, 144, 39), rgb(255, 61, 61));
    box-shadow: 0px 0px 10px 10px rgb(255, 74, 19);
}

.lhs button.playerW, .rhs button.computerW {
    background-image: radial-gradient(rgb(154, 233, 253), rgb(22, 208, 255), rgb(0, 119, 255));
}

.lhs button.playerW:hover {
    background-image: radial-gradient(rgb(199, 244, 255), rgb(125, 229, 255));
    box-shadow: 0px 0px 10px 10px rgb(83, 218, 252);
}

.lhs button.playerW:active {
    background-image: radial-gradient(rgb(159, 236, 255), rgb(60, 216, 255), rgb(57, 149, 255));
    box-shadow: 0px 0px 10px 10px  rgb(86, 165, 255);
}

.lhs button.playerG, .rhs button.computerG {
    background-image: radial-gradient(rgb(190, 241, 190), rgb(78, 219, 113), rgb(20, 238, 0));
}

.lhs button.playerG:hover {
    background-image: radial-gradient(rgb(234, 245, 234), rgb(152, 228, 171), rgb(148, 238, 139));
    box-shadow: 0px 0px 10px 10px rgb(90, 240, 76);
}

.lhs button.playerG:active {
    background-image: radial-gradient(rgb(158, 238, 158), rgb(118, 224, 145), rgb(56, 219, 41));
    box-shadow: 0px 0px 10px 10px rgb(47, 212, 32);
}

.replayBtn button {
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: 1em;
    margin: 2% 2%;
}

.replayBtn button:hover {
    background-color: #ccc;
}

.replayBtn button:active {
    background-color: #aaa;
}

/* future hp bar modification*/ 
/* .hpBars progress[value]::-webkit-progress-bar {
    background-image: lightgreen;
} */

/* .hpBars progress::-webkit-progress-value {
    background-color: green;
} */

/*  #pHpBar[value], #cHpBar[value] {
     background: green; 
}*/    

/*small laptops/ tablets (landscape)*/
@media (max-height: 750px) {
    html {
        font-size: 90%;
    }
    .mainUI {
        margin-top: -1em;
    }
}

/*tablets (portrait)*/
@media (max-width: 1050px) and (min-height: 600px) {
    html {
        font-size: 100%;
    }
    .mainUI {
        flex-direction: column;
        margin-top: 2em;
    }
    .lhs, .rhs {
        flex-direction: row;
        align-items: center;
        padding-left: 1rem;
    }
    img {
        width: 14em;
    }
    .mainScreen {
        margin: 10% 0;
    }

    h1#title {
        font-size: 5rem;
    }

    .replayBtn button {
        margin-top: 1em;
        font-size: 2rem;
    }
}

/*large phones*/
@media (max-width: 450px) and (min-height: 600px) {
    html {
        font-size: 50%;
    }
    .mainUI {
        flex-direction: column;
        margin-top: 5em;
    }
    .lhs, .rhs {
        flex-direction: row;
        align-items: center;
        padding-left: 1rem;
    }
    div button.fas, button {
        font-size: 4rem;
    }
    .hpBarContainerP, .hpBarContainerC {
        font-size: 1.5rem;
    }
    img {
        width: 16em;
    }
    .mainScreen {
        margin: 10% 0;
        grid-template-rows: 1fr auto 1fr;
    }
    .hpBarContainerC {
        grid-column-start: 2;
        grid-row-start: 3;
        margin-bottom: 0;
        align-self: end;
    }
    .replayBtn button {
        margin-top: 1em;
        font-size: 2rem;
    }
    .resultScreen .result{
        font-size: 1.5rem;
    }
}

/*small phones*/

@media (max-width: 450px) and (max-height: 599px) {
    html {
        font-size: 40%;
    }
    .mainUI {
        flex-direction: column;
        margin-top: 5em;
    }
    .lhs, .rhs {
        flex-direction: row;
        align-items: center;
        padding-left: 1rem;
    }
    div button.fas, button {
        font-size: 4rem;
    }
    .hpBarContainerP, .hpBarContainerC {
        font-size: 1.5rem;
    }
    img {
        width: 16em;
    }
    .mainScreen {
        margin: 10% 0;
        grid-template-rows: 1fr auto 1fr;
    }
    .hpBarContainerC {
        grid-column-start: 2;
        grid-row-start: 3;
        margin-bottom: 0;
        align-self: end;
    }
    .replayBtn button {
        margin-top: 1em;
        font-size: 2rem;
    }
    .resultScreen .result{
        font-size: 1.5rem;
    }
    
}