body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(images/background.png);
}

h1#title {
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
    margin-bottom: 0px;
    padding: 20px;
}

.resultScreen {
    margin: 100px 20px 0px 20px;
    height: 200px;
}

.result h1 {
    font-size: 25px;
}

.resultScreen {
    display: inline-block;
    vertical-align: middle;
}

div.result, div.playerChoice, div.computerChoice {
    display: inline-block;
    vertical-align: top;
}

div.result {
    position: relative;
    vertical-align: top;
    height: 200px;
    width: 400px;
    border: 1px solid #e7e7e7;
}

div.result h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    left: 0;
    right: 0;
}

div.lhs p, div.rhs p {
    font-weight: bold;
    font-size: 25px;
}

div button.fas, button {
    display: block;
    padding: 20px;
    margin: 50px 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: #e7e7e7;
}

.lhs {
    margin-left: 100px;
    float: left;
}

.rhs {
    margin-right: 100px;
    float: right;
}

.lhs button.playerF:hover {
    background-color: rgb(255, 142, 90);
    box-shadow: 0px 0px 20px 10px rgb(255, 122, 61);
}

.lhs button.playerF:active {
    background-color: rgb(255, 81, 0);
}

/*things to google
how to center elements of position absolute

*/