/* Custom font*/
@font-face {
    font-family: oldSchoolFont;
    src: url(assets/orange_kid.otf);
}

html {
    height: 100%;
}

body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*main UI*/
.mainUI {
    /* display: flex; */
    margin-top: 5em;
}

/*header section*/
h1#title {
    font-family: oldSchoolFont;
    font-size: 6.5rem;
    letter-spacing: 0.2rem;
    color: #111;
    text-shadow: 0.2rem 0.2rem #888;
    margin: 0;
    padding: 0 1.5em;
}

/*HP Bars section*/


progress {
    text-align: center;
    padding: 0.6em;
    box-shadow: 0 0.2rem 0.5rem rgb(255, 255, 255) inset;
}

progress::before {
    font-family: oldSchoolFont;
    content: attr(value)'/'attr(max);
    position: relative;
    bottom: 0.5rem;
}

.hpBarContainerP p, .hpBarContainerC p {
    display: inline-block;
    font-family: oldSchoolFont;
    position: relative;
    margin: 0;
    bottom: 0.5rem;
}

.hpBarContainerP, .hpBarContainerC {
    display: inline-block;
    position: relative;
    padding-top: 0.5em;
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225);
    width: 12%;
}

/* middle result screen section*/
.resultScreen {
    display: inline-block;
    font-family: oldSchoolFont;
    height: 200px;
    width: 40%;
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225);
    vertical-align: middle;
}

.result h1 {
    font-family: oldSchoolFont;
    font-size: 2rem;
    margin-top: 0.5em;
    margin-bottom: 0;
}

div.result, div.playerChoice, div.computerChoice {
    display: inline-block;
    vertical-align: top;
}

.resultScreen .playerChoice button, .resultScreen .computerChoice button {
    box-shadow: 0px 0px 5px 3px rgb(160, 93, 48, 0.5);
}

div.result {
    font-family: oldSchoolFont;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    position: relative;
    vertical-align: top;
    height: 100%;
    width: 50%;
}

div.result h3 {
    position: absolute;
    margin: 0.5em;
    left: 0;
    right: 0;
}

/* player/computer choice selection + buttons section*/
div.lhs p, div.rhs p {
    font-family: oldSchoolFont;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
}

div button.fas, button {
    display: block;
    margin: 30% 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: #e7e7e7;
    box-shadow: 0px 0px 5px 3px rgb(160, 93, 48, 0.5);
}

button:focus {
    outline: 0;
}

.lhs, .rhs {
    position: relative;
    bottom: 60px;
}

.lhs {
    margin-left: 5%;
    float: left;
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225);
}

.rhs {
    margin-right: 5%;
    float: right;
    border: 1px solid #888;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 3px 2px #888, -1px 3px 5px 3px rgb(255, 209, 179) inset;;
    background-color: rgb(255, 239, 225)    
}

.lhs button.playerF, .rhs button.computerF {
    background-image: radial-gradient(orange, rgb(255, 68, 68), rgb(255, 0, 0));
}
    
.lhs button.playerF:hover {
    background-image: radial-gradient(rgb(255, 197, 88), rgb(255, 110, 110));
    box-shadow: 0px 0px 10px 10px rgb(255, 122, 61);
}

.lhs button.playerF:active {
    background-image: radial-gradient(rgb(255, 144, 39), rgb(255, 61, 61));
    box-shadow: 0px 0px 10px 10px rgb(255, 74, 19);
}

.lhs button.playerW, .rhs button.computerW {
    background-image: radial-gradient(rgb(154, 233, 253), rgb(22, 208, 255), rgb(0, 119, 255));
}

.lhs button.playerW:hover {
    background-image: radial-gradient(rgb(199, 244, 255), rgb(125, 229, 255));
    box-shadow: 0px 0px 10px 10px rgb(83, 218, 252);
}

.lhs button.playerW:active {
    background-image: radial-gradient(rgb(159, 236, 255), rgb(60, 216, 255), rgb(57, 149, 255));
    box-shadow: 0px 0px 10px 10px  rgb(86, 165, 255);
}

.lhs button.playerG, .rhs button.computerG {
    background-image: radial-gradient(rgb(190, 241, 190), rgb(78, 219, 113), rgb(20, 238, 0));
}

.lhs button.playerG:hover {
    background-image: radial-gradient(rgb(234, 245, 234), rgb(152, 228, 171), rgb(148, 238, 139));
    box-shadow: 0px 0px 10px 10px rgb(90, 240, 76);
}

.lhs button.playerG:active {
    background-image: radial-gradient(rgb(158, 238, 158), rgb(118, 224, 145), rgb(56, 219, 41));
    box-shadow: 0px 0px 10px 10px rgb(47, 212, 32);
}

.replayBtn button {
    position: absolute;
    top: 0;
    left: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 2% 2%;
}

.replayBtn button:hover {
    background-color: #ccc;
}

.replayBtn button:active {
    background-color: #aaa;
}

/* future hp bar modification*/ 
/* .hpBars progress[value]::-webkit-progress-bar {
    background-image: lightgreen;
} */

/* .hpBars progress::-webkit-progress-value {
    background-color: green;
} */

/*  #pHpBar[value], #cHpBar[value] {
     background: green; 
}*/    
